<article class="blog">
   <div class="blog__container _container">
      <div class="page__head">
         <div class="page__num">05</div>
         <div class="page__title">BLOG & ARTICLE</div>
      </div>
      <div class="blog__content">
         <div class="blog__current">
            <div class="blog__currentImage">
               <div class="blog__currentImg">
                  <picture>
                     <source type="image/avif" srcset="./images/blog1.avif" />
                     <source type="image/webp" srcset="./images/blog1.webp" />
                     <img class="image" src="./images/blog1.png">
                  </picture>
               </div>
               <div class="blog__currentAuthor">
                  <div class="blog__currentPhoto">
                     <picture>
                        <source type="image/avif" srcset="./images/author2.avif" />
                        <source type="image/webp" srcset="./images/author2.webp" />
                        <img class="image" src="./images/author2.png">
                     </picture>
                  </div>
                  <div class="blog__currentInfo">
                     <div class="blog__currentName">Albert Florention</div>
                     <div class="blog__currentProf">Writer</div>
                  </div>
               </div>
            </div>
            <div class="blog__currentTitle">
               This is The Appearence of The Interior of The Newest...
            </div>
         </div>
         <div class="blog__side">
            <div class="blog__title">Always Check Our
               Latest Blog</div>
            <div class="blog__list">
               <div class="blog__item">
                  <div class="blog__itemImg">
                     <picture>
                        <source type="image/avif" srcset="./images/blog2.avif" />
                        <source type="image/webp" srcset="./images/blog2.webp" />
                        <img class="image" src="./images/blog2.png">
                     </picture>
                  </div>
                  <div class="blog__itemContent">
                     <div class="blog__itemTitle">Some Essential
                        Home Care</div>
                     <div class="blog__itemAbout">Sophia William</div>
                  </div>
               </div>
               <div class="blog__item">
                  <div class="blog__itemImg">
                     <picture>
                        <source type="image/avif" srcset="./images/blog3.avif" />
                        <source type="image/webp" srcset="./images/blog3.webp" />
                        <img class="image" src="./images/blog3.png">
                     </picture>
                  </div>
                  <div class="blog__itemContent">
                     <div class="blog__itemTitle">Wall Color
                        Selection Affe...</div>
                     <div class="blog__itemAbout">Franklin Jauhari</div>
                  </div>
               </div>
               <div class="blog__item">
                  <div class="blog__itemImg">
                     <picture>
                        <source type="image/avif" srcset="./images/blog4.avif" />
                        <source type="image/webp" srcset="./images/blog4.webp" />
                        <img class="image" src="./images/blog4.png">
                     </picture>
                  </div>
                  <div class="blog__itemContent">
                     <div class="blog__itemTitle">Let The Hot
                        House be Exp...</div>
                     <div class="blog__itemAbout">Marvin William</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>