<article class="feedback">
   <div class="feedback__container _container">
      <div class="feedback__head">
         <div class="page__head">
            <div class="page__num">04</div>
            <div class="page__title">TESTIMONIES</div>
         </div>
         <div class="feedback__title">
            <h2>What Our Customers
               Said?</h2>
            <a href="" class="feedback__more prop__more">Learn more about this</a>
         </div>
      </div>
      <div class="feedback__slider">
         <div class="feedback__line">
            <div class="feedback__item">
               <div class="feedback__itemImg" style="--bg:url(../images/feedback1.avif)">
               </div>
               <div class="feedback__itemContent">
                  <div class="feedback__itemIcon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#dots" class="svg-dots-dims" alt="dots">
                     </div>
                  </div>
                  <div class="feedback__itemText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                     amet velit risus quam. Platea pulvinar nunc tincidunt turpis nulla. Ullamcorper augue ullamcorper
                     lectus ac. Dui tempor, proin integer cras. Hac faucibus congue ultricies vestibulum vulputate
                     sapien.</div>
                  <div class="feedback__itemAuthor">
                     <div class="feedback__itemPhoto">
                        <picture>
                           <source type="image/avif" srcset="./images/author1.avif" />
                           <source type="image/webp" srcset="./images/author1.webp" />
                           <img class="image" src="./images/author1.png">
                        </picture>
                     </div>
                     <div class="feedback__name">Jenny Wilson</div>
                  </div>
               </div>
            </div>
            <div class="feedback__item">
               <div class="feedback__itemImg" style="--bg:url(../images/feedback1.avif)">
               </div>
               <div class="feedback__itemContent">
                  <div class="feedback__itemIcon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#dots" class="svg-dots-dims" alt="dots">
                     </div>
                  </div>
                  <div class="feedback__itemText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                     amet velit risus quam. Platea pulvinar nunc tincidunt turpis nulla. Ullamcorper augue ullamcorper
                     lectus ac. Dui tempor, proin integer cras. Hac faucibus congue ultricies vestibulum vulputate
                     sapien.</div>
                  <div class="feedback__itemAuthor">
                     <div class="feedback__itemPhoto">
                        <picture>
                           <source type="image/avif" srcset="./images/author1.avif" />
                           <source type="image/webp" srcset="./images/author1.webp" />
                           <img class="image" src="./images/author1.png">
                        </picture>
                     </div>
                     <div class="feedback__name">Jenny Wilson</div>
                  </div>
               </div>
            </div>
            <div class="feedback__item">
               <div class="feedback__itemImg" style="--bg:url(../images/feedback1.avif)">
               </div>
               <div class="feedback__itemContent">
                  <div class="feedback__itemIcon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#dots" class="svg-dots-dims" alt="dots">
                     </div>
                  </div>
                  <div class="feedback__itemText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                     amet velit risus quam. Platea pulvinar nunc tincidunt turpis nulla. Ullamcorper augue ullamcorper
                     lectus ac. Dui tempor, proin integer cras. Hac faucibus congue ultricies vestibulum vulputate
                     sapien.</div>
                  <div class="feedback__itemAuthor">
                     <div class="feedback__itemPhoto">
                        <picture>
                           <source type="image/avif" srcset="./images/author1.avif" />
                           <source type="image/webp" srcset="./images/author1.webp" />
                           <img class="image" src="./images/author1.png">
                        </picture>
                     </div>
                     <div class="feedback__name">Jenny Wilson</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="feedback__buttons">
            <button class="feedback__prev">
               <div class="icon-box">
                  <img src="./images/sprite.svg#previous" class="svg-previous-dims" alt="previous">
               </div>
            </button>
            <button class="feedback__next">
               <div class="icon-box">
                  <img src="./images/sprite.svg#next" class="svg-next-dims" alt="next">
               </div>
            </button>
         </div>
      </div>
   </div>
</article>