<footer class="footer">
   <div class="footer__container _container">
      <div class="footer__links">
         <div class="footer__title">Contact Us For
            More Information</div>
         <div class="footer__list">
            <div class="footer__item">
               <div class="footer__name">Mail</div>
               <a href="#" class="footer__link">dream@house.com</a>
            </div>
            <div class="footer__item">
               <div class="footer__name">Phone</div>
               <a href="#" class="footer__link">+62 8177 8890 999</a>
            </div>
            <div class="footer__item">
               <div class="footer__name">Address</div>
               <a href="#" class="footer__link">Jl. MH. Thamrin No 990, Surabaya,
                  Jawa Timur, Indonesia</a>
            </div>
            <div class="footer__item">
               <div class="footer__name">Social Media</div>
               <div class="footer__footerLinks">
                  <a href="" class="footer__link">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#facebook" class="svg-facebook-dims" alt="facebook">
                     </div>
                  </a>
                  <a href="" class="footer__link">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#instagramm" class="svg-instagramm-dims" alt="instagramm">
                     </div>
                  </a>
                  <a href="" class="footer__link">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#twitter" class="svg-twitter-dims" alt="twitter">
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="footer__form">
         <div class="footer__formBg"></div>
         <div class="footer__question">What do you want to ask?</div>
         <div class="footer__inputs">
            <input type="text" placeholder="Full Name" class="footer__fullname">
            <input type="text" placeholder="Email Address" class="footer__email">
            <textarea type="text" placeholder="Message" class="footer__message"></textarea>
            <button class="footer__send">Send Now</button>
         </div>
      </div>
   </div>
</footer>
<script src="./js/dist/main.min.js"></script>

</html>