<header class="header">
   <div class="header__container _container">
      <nav class="header__nav">
         <div class="header__logo ">
            <picture>
               <source type="image/avif" srcset="./images/logo.avif" />
               <source type="image/webp" srcset="./images/logo.webp" />
               <img class="image" src="./images/logo.png">
            </picture>
         </div>
         <a href="" class="header__link">Find House</a>
         <a href="" class="header__link">Community</a>
         <a href="" class="header__link">Our Blog</a>
      </nav>
      <div class="header__buttons">
         <a href="" class="header__register">Register</a>
         <a href="" class="header__login">Login</a>
      </div>
   </div>
</header>