<article class="main">
   <div class="main__container">
      <div class="main__bg">
         <div class="mainBg__line">
            <div class="mainBg__item1">
               <div class="mainBg__info">
                  <div class="mainBg__content">
                     <div class="mainBg__title">The Modern Deluxe House.</div>
                     <div class="mainBg__adress">
                        <div class="mainBg__icon">
                           <div class="icon-box">
                              <img src="./images/sprite.svg#locate" class="svg-locate-dims" alt="locate">
                           </div>
                        </div>
                        <div class="mainBg__text">Denpasar, Bali, Indonesia</div>
                     </div>
                  </div>
               </div>
               <div class="mainBg__img"></div>
            </div>
            <div class="mainBg__item1">
               <div class="mainBg__info">
                  <div class="mainBg__content">
                     <div class="mainBg__title">The Modern Deluxe House.</div>
                     <div class="mainBg__adress">
                        <div class="mainBg__icon">
                           <div class="icon-box">
                              <img src="./images/sprite.svg#locate" class="svg-locate-dims" alt="locate">
                           </div>
                        </div>
                        <div class="mainBg__text">Denpasar, Bali, Indonesia</div>
                     </div>
                  </div>
               </div>
               <div class="mainBg__img"></div>
            </div>
            <div class="mainBg__item1">
               <div class="mainBg__info">
                  <div class="mainBg__content">
                     <div class="mainBg__title">The Modern Deluxe House.</div>
                     <div class="mainBg__adress">
                        <div class="mainBg__icon">
                           <div class="icon-box">
                              <img src="./images/sprite.svg#locate" class="svg-locate-dims" alt="locate">
                           </div>
                        </div>
                        <div class="mainBg__text">Denpasar, Bali, Indonesia</div>
                     </div>
                  </div>
               </div>
               <div class="mainBg__img"></div>
            </div>
            <div class="mainBg__item1">
               <div class="mainBg__info">
                  <div class="mainBg__content">
                     <div class="mainBg__title">The Modern Deluxe House.</div>
                     <div class="mainBg__adress">
                        <div class="mainBg__icon">
                           <div class="icon-box">
                              <img src="./images/sprite.svg#locate" class="svg-locate-dims" alt="locate">
                           </div>
                        </div>
                        <div class="mainBg__text">Denpasar, Bali, Indonesia</div>
                     </div>
                  </div>
               </div>
               <div class="mainBg__img"></div>
            </div>
         </div>
         <div class="main__bgButtons">
            <button class="main__btn previous" id="previous">
               <div class="icon-box">
                  <img src="./images/sprite.svg#previous" class="svg-previous-dims" alt="previous">
               </div>
            </button>
            <button class="main__btn next" id="next">
               <div class="icon-box">
                  <img src="./images/sprite.svg#next" class="svg-next-dims" alt="next">
               </div>
            </button>
         </div>
      </div>
      <div class="main__content _container">
         <div class="main__form">
            <div class="main__title">CHOOSE YOUR DREAM HOUSE</div>
            <div class="main__inputs">
               <div class="main__select">
                  <div class="main__adressContent">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#locate" class="svg-locate-dims" alt="locate">
                     </div>
                     <input type="text" placeholder="Bali, Indonesia" class="main__adressSelect">
                  </div>
               </div>
               <div class="main__select" id="select">
                  <div class="select__content">
                     <span>
                        <div class="icon-box">
                           <img src="./images/sprite.svg#house" class="svg-house-dims" alt="house">
                        </div>
                        <div class="select__value">Delux</div>
                     </span>
                     <div class="select__icon">
                        <div class="icon-box">
                           <img src="./images/sprite.svg#arrow" class="svg-arrow-dims" alt="arrow">
                        </div>
                     </div>
                  </div>
                  <div class="select__list disabled">
                     <div class="select__option" data-selectValue="Delux">Delux</div>
                     <div class="select__option" data-selectValue="Regular">Regular</div>
                     <div class="select__option" data-selectValue="Cheap">Cheap</div>
                  </div>

               </div>
               <div class="main__search">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#uil_search-alt" class="svg-uil_search-alt-dims" alt="uil_search-alt">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>