<article class="prop">
   <div class="prop__container _container">
      <div class="prop__head">
         <div class="page__head">
            <div class="page__num">03</div>
            <div class="page__title">BEST PROPERTIES</div>
         </div>
         <div class="prop__about">
            <div class="prop__title">Best Properties
               Around You</div>
            <a href="" class="prop__more">Learn more about this</a>
         </div>
      </div>
      <div class="prop__swiper">
         <div class="prop__line">
            <div class="prop__item">
               <div class="prop__itemImg">
                  <div class="prop__img">
                     <picture>
                        <source type="image/avif" srcset="./images/prop1.avif" />
                        <source type="image/webp" srcset="./images/prop1.webp" />
                        <img class="image" src="./images/prop1.png">
                     </picture>
                  </div>
                  <div class="prop__name">Apartment</div>
               </div>
               <div class="prop__itemContent">
                  <div class="prop__itemName">Denpasar Suite</div>
                  <div class="prop__itemAdress">Jl. Soekarno - Hatta No. 123, Denpasar</div>
                  <div class="prop__itemPrice">Rp 450 Juta</div>
               </div>
            </div>
            <div class="prop__item">
               <div class="prop__itemImg">
                  <div class="prop__img">
                     <picture>
                        <source type="image/avif" srcset="./images/prop2.avif" />
                        <source type="image/webp" srcset="./images/prop2.webp" />
                        <img class="image" src="./images/prop2.png">
                     </picture>
                  </div>
                  <div class="prop__name">Apartment</div>
               </div>
               <div class="prop__itemContent">
                  <div class="prop__itemName">Echo Park Suite</div>
                  <div class="prop__itemAdress">Jl. Soekarno - Hatta No. 123, Denpasar</div>
                  <div class="prop__itemPrice">Rp 550 Juta</div>
               </div>
            </div>
            <div class="prop__item">
               <div class="prop__itemImg">
                  <div class="prop__img">
                     <picture>
                        <source type="image/avif" srcset="./images/prop3.avif" />
                        <source type="image/webp" srcset="./images/prop3.webp" />
                        <img class="image" src="./images/prop3.png">
                     </picture>
                  </div>
                  <div class="prop__name">House</div>
               </div>
               <div class="prop__itemContent">
                  <div class="prop__itemName">Bali Residence</div>
                  <div class="prop__itemAdress">Jl. Soekarno - Hatta No. 123, Denpasar</div>
                  <div class="prop__itemPrice">Rp 750 Juta</div>
               </div>
            </div>
            <div class="prop__item">
               <div class="prop__itemImg">
                  <div class="prop__img">
                     <picture>
                        <source type="image/avif" srcset="./images/prop2.avif" />
                        <source type="image/webp" srcset="./images/prop2.webp" />
                        <img class="image" src="./images/prop2.png">
                     </picture>
                  </div>
                  <div class="prop__name">Village</div>
               </div>
               <div class="prop__itemContent">
                  <div class="prop__itemName">Bali Echo</div>
                  <div class="prop__itemAdress">Jl. Soekarno - Hatta No. 123, Denpasar</div>
                  <div class="prop__itemPrice">Rp 75 Juta</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>