<article class="service">
   <div class="service__container _container">
      <div class="service__head">
         <div class="service__page page__head">
            <div class="service__num page__num">01</div>
            <div class="service__about page__title">BEST SERVICE</div>
         </div>
         <div class="service__heading">
            <h2 class="service__title">Why Choose Us?</h2>
            <div class="service__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros, viverra aenean
               nisl lacus. Sit id vulputate.</div>
         </div>
      </div>
      <div class="service__grid">
         <div class="service__item black">
            <div class="service__itemHeading black">
               <div class="service__itemNum">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#item1" class="svg-item1-dims" alt="item1">
                  </div>
               </div>
               <div class="service__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#itemHouse" class="image svg-itemHouse-dims" alt="itemHouse">
                  </div>
               </div>
            </div>
            <div class="service__itemContent">
               <div class="service__itemIndex black">01</div>
               <div class="service__itemText">
                  <div class="service__itemTitle black">Property Insurance</div>
                  <div class="service__itemAbout black">We offer our customers for property insurance for their better
                     life.
                  </div>
                  <a href="" class="service__button black">Learn More</a>
               </div>
            </div>
         </div>
         <div class="service__item">
            <div class="service__itemHeading">
               <div class="service__itemNum">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#item2" class="svg-item2-dims" alt="item2">
                  </div>
               </div>
               <div class="service__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#tag" class="image svg-tag-dims" alt="tag">
                  </div>
               </div>
            </div>
            <div class="service__itemContent">
               <div class="service__itemIndex">02</div>
               <div class="service__itemText">
                  <div class="service__itemTitle">Tax Advantage</div>
                  <div class="service__itemAbout">You get may type facilities specially tax advantage is
                     one them.
                  </div>
                  <a href="" class="service__button">Learn More</a>
               </div>
            </div>
         </div>
         <div class="service__item">
            <div class="service__itemHeading">
               <div class="service__itemNum">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#item3" class="svg-item3-dims" alt="item3">
                  </div>
               </div>
               <div class="service__itemIcon">
                  <div class="icon-box">
                     <img src="./images/sprite.svg#file" class="image svg-file-dims" alt="file">
                  </div>
               </div>
            </div>
            <div class="service__itemContent">
               <div class="service__itemIndex">03</div>
               <div class="service__itemText">
                  <div class="service__itemTitle">Lowest Commission</div>
                  <div class="service__itemAbout">We give you lowest commision and many more.
                  </div>
                  <a href="" class="service__button">Learn More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>