<article class="weekly">
   <div class="weekly__container _container">
      <div class="weekly__main">
         <div class="weekly__image">
            <div class="weekly__img">
               <picture>
                  <source type="image/avif" srcset="./images/weekly.avif" />
                  <source type="image/webp" srcset="./images/weekly.webp" />
                  <img class="image" src="./images/weekly.png">
               </picture>
            </div>
            <div class="weekly__text">House</div>
         </div>
         <div class="weekly__content">
            <div class="weekly__head page__head">
               <div class="weekly__num page__num">02</div>
               <div class="weekly__about page__title">WEEKLY HOUSE</div>
            </div>
            <h2 class="weekly__title">Get House of
               The Week</h2>
            <ul class="weekly__list">
               <li class="weekly__item">
                  <div class="weekly__icon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#check" class="svg-check-dims" alt="check">
                     </div>
                  </div>
                  <div class="weekly__itemText">Architectural Inspection</div>
               </li>
               <li class="weekly__item">
                  <div class="weekly__icon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#check" class="svg-check-dims" alt="check">
                     </div>
                  </div>
                  <div class="weekly__itemText">Architectural Inspection</div>
               </li>
               <li class="weekly__item">
                  <div class="weekly__icon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#check" class="svg-check-dims" alt="check">
                     </div>
                  </div>
                  <div class="weekly__itemText">Architectural Inspection</div>
               </li>
            </ul>
            <a href="" class="weekly__link">LEARN MORE</a>
         </div>
      </div>
      <div class="weekly__info">
         <div class="weekly__name">North Echo Avenue</div>
         <div class="weekly__adress">Jl. Soekarno - Hatta No. 123, Denpasar</div>
         <div class="weekly__price">Rp 1,500 M</div>
      </div>
   </div>
</article>